# =========================
# Java / Maven
# =========================
backend/target/
*.class
*.jar
*.war
*.log

# Maven Wrapper (mantener)
!backend/.mvn/
!backend/mvnw
!backend/mvnw.cmd

# =========================
# Variables de entorno
# =========================
.env
.env.*
!.env.example

application-local.properties
application-prod.properties

# =========================
# Archivos subidos
# =========================
backend/src/main/java/com/dbp/proyectobackendmarketexchange/imagenes/
imagenes/
uploads/

# =========================
# Node / Next.js
# =========================
node_modules/
.next/
dist/

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db
backend/uploads/